/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/
/storage/logs/
/bootstrap/cache/
/.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
.claude
.well-known/